@{
    ViewData["Title"] = "Home Page";
}

<div id="test-chart"></div>

@section Scripts
{
    <script src="~/js/roslib.min.js" asp-append-version="true"></script>
    <script src="~/bundles/passbutter.min.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $("#test-chart").dxChart({
            dataSource: [{x: "A", y: 2}, {x: "B", y: 7}], 
            series: {
                argumentField: "x",
                valueField: "y",
                name: "Test",
                type: "bar",
                color: '#ffaa66'
            }
        });
    </script>
}