@{
    ViewData["Title"] = "Home Page";
}

<div id="test-chart"></div>

@section Scripts
{
    <script src="~/js/roslib.min.js" asp-append-version="true"></script>
    @* <script src="~/bundles/passbutter.min.js" asp-append-version="true"></script> *@

    <script type="text/javascript">
        $("#test-chart").dxChart({
            dataSource: [{x: "A", y: 2}, {x: "B", y: 7}], 
            series: {
                argumentField: "x",
                valueField: "y",
                name: "Test",
                type: "bar",
                color: '#ffaa66'
            }
        });

        var ros = new ROSLIB.Ros({
            url: 'ws://localhost:9090'
        });

        ros.on('connection', function() {
            console.log('Connected to websocket server.');
        });
   
        ros.on('error', function(error) {
            console.log('Error connecting to websocket server: ', error);
        });
   
        ros.on('close', function() {
            console.log('Connection to websocket server closed.');
        });

        var wheelSpeed = new ROSLIB.Topic({
            ros : ros,
            name : '/wheel_speed',
            messageType : 'std_msgs/Float32'
        });

        wheelSpeed.subscribe(function(message) {
            console.log(`Receive message: ${message}`);
        });
    </script>
}